html
	head
		title YEEEEEY
		
		link(rel="stylesheet" href="/css/bootstrap-theme.min.css")
		link(rel="stylesheet" href="/css/bootstrap.min.css")
		script(src="/js/bootstrap.min.js")

	body
		h3 Sikeres volt a mentes
		a(href="/") Vissza az osszes TODO-hoz
