html
    head
        title Add TODO
    body
        form(action="/add", method="POST")
            div
                label(for="todo_text") TODO: 
                input(name="todo_text" placeholder="ird ide a TODO-t")
            br
            button(type="submit") Mentem
