html
	head
		title Add TODO

		link(rel="stylesheet" href="/css/bootstrap-theme.min.css")
		link(rel="stylesheet" href="/css/bootstrap.min.css")
		script(src="/js/bootstrap.min.js")

	body
		form.form-inline(action="/add", method="POST")
			div.form-group
				label(for="todo_text") TODO: 
				input.form-control(name="todo_text" placeholder="ird ide a TODO-t")
				button.btn-primary(type="submit") Mentem
