html
	head
		title A TODO listam
		
		link(rel="stylesheet" href="/css/bootstrap-theme.min.css")
		link(rel="stylesheet" href="/css/bootstrap.min.css")
		script(src="/js/bootstrap.min.js")

	body
		table.table.table-striped
			thead
				tr
					th TODO
			
			tbody
				each todo in todos
					tr
						td= todo

		a(href="/add_todo") Hozzaadok egy TODOT
					
